h2 {
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-between;
    section {
        margin: 0px 20px;
    }
    .flag {
        width: 320px;
        height: 200px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .coatOfArm {
        width: 320px;
        height: 200px;
        display: flex;
        justify-content: center;
        img {
            width: 57%;
            height: 100%;
            object-fit: cover;
        }
    }
    .country {
        button {
            display: block;
            width: 100%;
        }
    }
}