<h2>დეტალური ინფორმაცია</h2>
<div class="first_SEC">
    <h1>GE</h1>
    <h2>Sakartvelo</h2>
    <section>
        <div>
            <h5>დროშა</h5>
            <img class="flag" src="https://flagcdn.com/w320/ge.png" alt="">
        </div>
        <div>
            <h5>გერბი</h5>
            <img class="coatOfArm" src="https://mainfacts.com/media/images/coats_of_arms/ge.png" alt="">
        </div>
    </section>
</div>
<div class="second_SEC">
    <h3>დედაქალაქი:<strong>Tbilisi</strong></h3>
    <h3>ენა:<strong>Georgian</strong></h3>
    <h3>ვალუტა:<strong>lari</strong><strong>₾</strong></h3>
    <h3>ფართობი:<strong>69,700კმ²</strong></h3>
</div>