<div class="container">
  <div class="top-container">
    <!-- poulation field -->
    <section class="population">
      <app-population></app-population>
    </section>
    <!-- location field -->
    <section class="location">
      <app-location></app-location>
    </section>
    <!-- other data field -->
    <section class="other-data">
      <app-other-data></app-other-data>
    </section>
  </div>
  <div class="bottom-container">
    <!-- menu field -->
    <section class="menu">
      <app-menu></app-menu>
    </section>
  </div>
</div>