<div class="continents">
    <section class="africa"
    [routerLink]="['/africa', 11.889954334988456, 19.708867057764312]">
        <div>
            <h4>აფრიკა</h4>
        </div>
    </section>
    <section class="australia"
    [routerLink]="['/australia', -20.523553678108634, 135.91832315384582]">
        <div>
            <h4>ავსტრალია</h4>
        </div>
    </section>
    <section class="europe"
    [routerLink]="['/europe', 50.03756166346082, 1.1516202174123142]">
        <div>
            <h4>ევროპა</h4>
        </div>
    </section>
    <section class="asia"
    [routerLink]="['/asia', 55.52320446538212, 93.3015349549062]">
        <div>
            <h4>აზია</h4>
        </div>
    </section>
    <section class="south_america"
    [routerLink]="['/south-america', -16.547139153624034, -60.316845040334336]">
        <div>
            <h4>სამ: ამერიკა</h4>
        </div>
    </section>
    <section class="north_america"
    [routerLink]="['/north-america', 55.179693332938264, -107.44460760218105]">
        <div>
            <h4>ჩრდ: ამერიკა</h4>
        </div>
    </section>
    <section class="antarctica"
    [routerLink]="['/antarctica', -75.7868286044209, 37.89269226181282]">
        <div>
            <h4>ანტარქტიდა</h4>
        </div>
    </section>
</div>