<div class="continents">
    <section class="africa"
    routerLink="/africa">
        <div>
            <h4>აფრიკა</h4>
        </div>
    </section>
    <section class="australia"
    routerLink="/australia">
        <div>
            <h4>ავსტრალია</h4>
        </div>
    </section>
    <section class="europe"
    routerLink="/europe">
        <div>
            <h4>ევროპა</h4>
        </div>
    </section>
    <section class="asia"
    routerLink="/asia">
        <div>
            <h4>აზია</h4>
        </div>
    </section>
    <section class="south_america"
    routerLink="/south-america">
        <div>
            <h4>სამ: ამერიკა</h4>
        </div>
    </section>
    <section class="north_america"
    routerLink="/north-america">
        <div>
            <h4>ჩრდ: ამერიკა</h4>
        </div>
    </section>
    <section class="antarctica"
    routerLink="/antarctica">
        <div>
            <h4>ანტარქტიდა</h4>
        </div>
    </section>
</div>